<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-2">
    <%= gravitar_for(@user, size: 100) %>
  </aside>
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <% if current_user == @user %>
        <h2><%= @user.email %></h2>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if current_user == @user %>
      <% if @user.posts.any? %>
        <h3>Your Posts (<%= @user.posts.count %>)</h3>
        <ol class="microposts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      <% end %>
    <% end %>
  </div>
</div>