<h1>New Message</h1>

<%= form_for(@post) do |f| %>

  <%= f.label :body %>
  <%= f.text_area :body, class: 'form-control' %><br />

  <%= f.hidden_field :user, :value => current_user.id %>
  
  <%= f.submit "Submit", class: 'btn btn-primary' %>
<% end %>